.place-info {
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
  transition: .4s ease-in-out;
  background: white;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-info.shown {
  transform: translateY(0);
}